
:root {
  --white: white;
  --gold600: hsla(60, 100%, 50%, 0.6);
  --gold200: hsla(60, 100%, 50%, 0.2);
  --greyHover: hsla(0, 0%, 47%, 0.1);
}

.white-bg {
  width: 50px;
  height: 50px;
  background-color: white;
}

.button-logo {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  border-radius: 10px;
  padding: 0 5px;
  transition: all 0.2s ease-in;
}

.button-logo h1 {
  font-weight: 200;
}

.button-logo:hover {
  transform: translateY(-3px) scale(1.02);
  color: white;
}

.logo {
  position: relative;
  left: -8px;
}

.span-logo {
    color: white;
}

.button-logo:hover > h1 > span {
  transition: color 0.2s ease-in;
  color: var(--gold600);
}


.wrapper {
  box-sizing: border-box;
  /* padding: 50px; */
  display: flex;
  width: 100vw;
  /* align-items: center; */
  justify-content: center;
  /* overflow: hidden; */
  padding-inline: 4rem;
}

.main-container {
  max-width: 1280px;
  width: 100vw;
  height: 100vh;
  max-height: 800px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* padding: 20px;  */
}

.navbar {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar svg {
  font-size: 30px;
  color: #777;
}

.navbar-li a {
  height: 30px;
}

.navbar li {
  transition: all .1s ease-in-out;
}
.navbar li:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.2);
}

.navbar-li:hover svg {
  color: white;
}

.linkedin-li:hover svg {
  color: #0a66c2;
}

.linkedin-background {
  position: absolute;
  width: 28px;
  height: 28px;
  transform: translateY(-36px) translateX(1px);
}

.linkedin-li:hover div {
  background-color: white;
  z-index: -1;
}

.main {
  /* padding-left: 50px; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 100px;
  height: calc(100% - 157px)
}

.header1 {
  font-weight: 200;
  font-size: 2rem;
  margin: 0px;
}

.message {
  transition: all .2 linear;
  animation: rightToLeft 1s ease-out;
  backface-visibility: hidden;
  position: relative;
  margin-left: 30px;
}

.message-container {
  position: relative;
  max-width: 800px;
}

.message::before {
  animation: topToBottom 1s ease-out;
  transition: all .2 linear;
  content: " ";
  width: 2px;
  background: white;
  position: absolute;
  top: 11px;
  bottom: 0;
  left: -30px;
}

.message-header {
  display: flex;
  gap: 20px;
  align-items: center;
}
.message-title {
  text-wrap: balance;
}


.legend-title {
  font-weight: 200;
  font-size: 2rem;
}

/* .projects-container {
  margin-left: 6px;
}  */

.project{
  position: relative;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}





.project::before {
  content: " ";
  width: 1px;
  background: white;
  position: absolute;
  left: -10px;
  top: 8px;
  bottom: 4px;
  transition: all 0.2s ease-in-out;
}


.project:hover::before {
  transition: all 0.2s ease-in-out;
  left: -14px;
  width: 4px;
}

.project:hover {
  transition: all 0.2s ease-in-out;
  margin-left: 14px;
  letter-spacing: 1px;
}


.project-selected {
  margin-left: 14px;
  
  &::before {
    transition: all 0.2s ease-in-out;
    left: -14px;
    width: 4px;
    background-color: var(--gold600);
  }
}

.project-button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.project-selected .project-button {
  color: var(--gold600);
  transition: color 0.2s ease-in-out;
  letter-spacing: 1px;
}

.project-links {
  display: flex;
  gap: 20px;
  align-content: center;
  margin-left: 5px;
}

.project-links a {
  color: white;
  font-size: x-large;
  transition: all .2s ease-in-out;
  border-radius: 50%;
  margin: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: scale(1.2);
    transition: all .4s ease-in-out;
  }
}

#github:hover {
  background-color: rgba(255, 166, 0, 0.512);
}

#url:hover {
  background-color: #0a66c2;
}

.footer {
  text-align: right;
}

.tech {
  margin-top: 50px;
  height: 50px;
}

.tech > * {
  animation: rightToLeft .3s ease-out backwards;
}

.tech :nth-child(1) { animation-delay: 0.1s; }
.tech :nth-child(2) { animation-delay: .2s; }
.tech :nth-child(3) { animation-delay: .3s; }
.tech :nth-child(4) { animation-delay: .4s; }
.tech :nth-child(5) { animation-delay: .5s; }
.tech :nth-child(6) { animation-delay: .6s; }
.tech :nth-child(7) { animation-delay: .7s; }
.tech :nth-child(8) { animation-delay: .8s; }

.tech-logo {
  margin-right: 20px;
}


#socketio-logo {
  background-color: white;
  border-radius: 100%;
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(100px)
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}

@keyframes topToBottom {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
